In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:15pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

<font size="5" color="red" >ch02_자료형과 연산자 (1절-4절)</font>

# 1절 변수
- 파이썬은 변수선언을 위한 과정이 없음. 할당과 동시에 타입이 지정되고 값이 할당됨

## 1.1 변수할당
- 할당연산자(=)를 이용해서 값을 할당하면 타입이 셋팅
- 파이썬에서 모든 변수는 객체로 저장

In [11]:
r = 5
area = 3.14 * r * r
print("계산된 넓이는 ", area)

계산된 넓이는  78.5

In [12]:
import numpy as np
area = np.pi * r * r
print('area = ', area)

area =  78.53981633974483

In [13]:
area.is_integer() # area가 integer인지 여부를 반환

False

In [15]:
print("area의 주소 :", id(area) ) #id(area) : area의 변수의 주소값
print("area의 타입 :", type(area))

area의 주소 : 2520152111984
area의 타입 : <class 'float'>

In [16]:
area = 5.5
print("area의 주소 :", id(area) ) #id(area) : area의 변수의 주소값
print("area의 타입 :", type(area))

area의 주소 : 2520184082032
area의 타입 : <class 'float'>

In [17]:
area = 10
print("area의 주소 :", id(area) ) #id(area) : area의 변수의 주소값
print("area의 타입 :", type(area))

area의 주소 : 2520073110032
area의 타입 : <class 'int'>

In [20]:
area = "파이썬"
print("area의 주소 :", id(area) ) #id(area) : area의 변수의 주소값
print("area의 타입 :", type(area))

area의 주소 : 2520207548240
area의 타입 : <class 'str'>

## 1.2 변수이름 규칙
- 문자로 시작 ( 숫자시작불가)
- 문자, 숫자, _로 변수명 작성
- 함수명은 변수이름으로 가능하나 피합니다. 써야한다면 int_ 처럼 _를 이용
- 파이썬 예약어(for, . )는 변수이름 사용 불가
- 한글변수는 꼭 필요시에만 이용

In [21]:
이름 = "홍길동" #비추
print(이름)

홍길동

In [22]:
이름

'홍길동'

In [23]:
for = 5

SyntaxError: invalid syntax (3039934606.py, line 1)

In [26]:
# member.name ="홍길동"
member_name = "홍길동"
memberName = "홍길동"

In [27]:
Print = 10 # 대문자로 시작한 변수, 함수명은 강력비추
print(Print)

10

In [28]:
# 파이썬에서의 숫자 : 정수, 실수, 복소수
i = 3 + 3j #복소수
type(i)

complex

In [30]:
isinstance(i, complex) # i변수(객체)가 complex인지 여부

True

## 1.3 도움말

In [31]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [33]:
help() # help 빠져나오려면 q 입력 / ESC + o : 결과 접기/ 펴기

Welcome to Python 3.10's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the internet at https://docs.python.org/3.10/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> q

You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [ ]:
# 도움말 기능 : shift + tab 키 tab 키
print()

In [43]:
def add(x, y=0):
    '''
    매개변수 2개를 받아 두 자리 숫자로 만들어요
    x = 10의 자리수
    y = 1의 자리수
    사용법 : add(2, 3) => 23
    '''
    return x*10 + y

In [44]:
add(10)

100

In [48]:
def minus(x, y):
    '''
    뺄셈(x-y)
    '''
    return x-y

In [49]:
minus(10, 3)

7

In [50]:
a = add
a(3, 2)

32

## 1.4 다중 변수 할당

In [52]:
a = 10
b = 20

In [53]:
a, b = 10, 20
print(a, b)

10 20

In [54]:
a, b = b, a+b #순차적으로 값이 들어가지 않고 일괄 동시에 들어가기 떄문에 값이 20, 30이 나옴
print(a, b)

20 30

In [61]:
if a == 20:
    print("tt")
else:
    print("cc")

tt

# 2절. 화면입출력(i/o)

In [73]:
# input() : 사용자로부터 값을 입력받기 위한 함수. 문자열로 입력
first = input("첫번째 숫자는?")
first

첫번째 숫자는?8

'8'

In [71]:
second = input("두번째 숫자는?")

두번째 숫자는?2

In [75]:
sum = int(first) + int(second)
print("합:", sum)

합: 10

In [78]:
first = int(input("첫번째 수는?"))
second = int(input("두번째 수는?"))
sum = first + second
print("합", sum)

첫번째 수는?32
두번째 수는?23
합 55

In [87]:
print("합", sum, sep='=', end='/') #sep은 separate이다. 분리하는 용도 , #end는 한 줄이 끝나고 실행되는 것
print("합", sum, sep='~', end='\n\n')
print("합", sum, sep='!!!!')

합=55/합~55

합!!!!55

In [92]:
import sys
print('hello', 'world', sep=", ")

hello, world

# 3절. 기본 자료형
- 자료형에 따라 값의 크기와 저장방식이 달라짐
    - 숫자 : int, float, complex
    - 문자 : str
    - 논리 : bool(True/False)
    
## 3.1 숫자형

In [94]:
import sys
sys.maxsize # 정수의 최대값 2의 63승-1 (2**63 - 1)

9223372036854775807

In [96]:
'hello'[2]

'l'

In [99]:
i = sys.maxsize + 1000    #sys 라이브러리 안의 maxsize를 불러옴
print(i)
print(type(i))

9223372036854776807
<class 'int'>

In [102]:
f = 4/2  # 정수/정수 는 무조건 실수
f

2.0

In [104]:
# 자바처럼 정수/정수의 결과를 정수로
f = 4//2  #몫연산자 = 몫만 가져옴
print(f)
f = int(4/2)
print(f)

2
2

In [105]:
c = 1j # 수학시간의 0+1i
print(c**2) # ** 승 연산자

(-1+0j)

In [108]:
f = 1.12e12  # 1.12의 10의 12승 112000000~ e12는 10의 12승
print('지수형 표현할당시 실수형으로 저장 :', f)
f = 1.12e-12  # 0.00000000000112
print('지수형 표현할당시 실수형으로 저장 :', f)

지수형 표현할당시 실수형으로 저장 : 1120000000000.0
지수형 표현할당시 실수형으로 저장 : 1.12e-12

## 3.2 문자형
쌍따옴표("-")나 홑따옴표(' ')이용

In [111]:
name = "홍길동\"짱\""  # 홍길동"짱"
name = '홍길동"짱"'
address = '서울시 관악구 \'신림동\''
address = "서울시 관악구 '신림동'"# 서울시 관악구 '신길동'
print(name, address)

홍길동"짱" 서울시 관악구 '신림동'

In [112]:
# 문자형 변수 여러줄
text = '''여러줄짜리 내용
줄바꿈문자를 쓰지 않고 따옴표 3개로 처리
이처럼 쓰는 경우가 많아요'''
print(text)

여러줄짜리 내용
줄바꿈문자를 쓰지 않고 따옴표 3개로 처리
이처럼 쓰는 경우가 많아요

### ※ 문자열 연산

In [113]:
"""
    여러 줄 주석 용도
    2025.04.08 문자열 연산 소스 by 아무개
"""
name1 = "홍길동"
name2 = "동해 번쩍 서해 번쩍"
print(name1 + name2)

홍길동동해 번쩍 서해 번쩍

In [115]:
print(name1 * 3)  ##문자열을 곱하면 반복

홍길동홍길동홍길동

### ※ raw 데이터
- 용도 : 정규표현식 이용, 디렉토리 경로 표현식 이용

In [118]:
print(r'Hello\nWorld')
print('Hello\\nWorld')

Hello\nWorld
Hello\nWorld

정규표현식 
```(마크업 셀에서 백틱은 블록을 만들 때 사용)
1. 참조 : 위키백과
2. 간략한 문법 :
    \d (숫자와 매치, [0-9]와 동일
    \D (숫자가 아닌것)
    \w (영문자나 숫자, [a-zA-Z0-9]
    \W (영문자나 숫자가 아닌 문자)
    . (문자)
    \. (. 의미)
    \- (- 의미)
    {2, 4} (2~4번 반복)
    {4}    (4번 반복)
    {2,}   (2번 이상 반복)
    +      (1번 이상 반복)
    *      (0번 이상 반복)
    ?      (0번이나 1번 반복)
    [^...]    (괄호 안의 문자들을 제외한 문자를 뜻함 (not))
    
3. 정규표현식 연습장(https://regexr.com/)
    ex1. 전화번호 : 010-9999-9999 02-7777-8888 01099995555 0233334444
                    02)714-1234 010 1234 1234 010.1234.1234
                    
                    "[0-3]{2,3}[\-).\s]?\d{3,4}[\-).\s]?\d{4}"
                    
    ex2. 이메일 : abc12@naver.com  /  abc123@0to7.co.kr  /  abc@한국.com
    
                  \w{3,}@[a-zA-Z0-9가-힣]+(\.[a-zA-Z]+){1,2}

4. 소스 구현
    
    
```

In [2]:
import re
data = "홍길동인데 전번이 041-555-5555, 010 9999 9999 동해번쩍 서해번쩍 ㅋㅋ ㅠㅠ \
오늘 날씨는 엄청 좋아요"
print(data)

홍길동인데 전번이 041-555-5555, 010 9999 9999 동해번쩍 서해번쩍 ㅋㅋ ㅠㅠ오늘 날씨는 엄청 좋아요

In [28]:
tel_pattern = r"[0-9]{2,3}[\-).\s]?\d{3,4}[\-).\s]?\d{4}"
email_pattern = r"\w{3,}@[a-zA-Z0-9가-힣]+(\.[a-zA-Z]+){1,2}"

In [8]:
# 해당 패턴을 다 찾아줌. 없으면 []반환
tels = re.findall(tel_pattern, data)
tels

['041-555-5555', '010 9999 9999']

In [11]:
# search() : 정규표현식 패턴과 일치하는 처음단어만 찾음

pattern = "(\d{2,3})-(\d{3,4})-(\d{4})"
firstTel = re.search(pattern, data)
firstTel

In [14]:
data[10:22]  # 문자 슬라이싱

'041-555-5555'

In [15]:
print('전화번호 전체 : ', firstTel.group(0))
print('국번 : ', firstTel.group(1))
print('중간번호 : ', firstTel.group(2))
print('끝번호 : ', firstTel.group(3))

전화번호 전체 :  041-555-5555
국번 :  041
중간번호 :  555
끝번호 :  5555

In [18]:
re.sub('[^가-힣0-9\s]', '', data) # 특수문자, 자음, 모음 없애기 = 한글 또는 숫자 또는 공백이 아닌 문자들을 찾아서 제거한다는 뜻이야.

'홍길동인데 전번이 0415555555 010 9999 9999 동해번쩍 서해번쩍  오늘 날씨는 엄청 좋아요'

In [20]:
# 파일 경로에는 반드시 r ,  \\ , /  를 사용
file_path = r"C:\ai_x\source\01_python\text1.txt"
file_path = "C:\\ai_x\\source\\01_python\\text1.txt"
file_path = "C:/ai_x/source/01_python/text1.txt"

In [22]:
# 'w' write  'r'  read

file_stream = open(file_path, 'w')
print("hello", "world", sep= " ~ ") # 콘솔 출력
print("hello", "world", sep= " ~ ", file=file_stream) # 파일 출력
file_stream.close() # close를 하지 않으면 파일저장 안 됨

hello ~ world

### ※ 문자열 슬라이싱

In [32]:
str_ = '0123456789'
str_

'0123456789'

In [34]:
# 문자 인덱싱
str_[0], str_[2], str_[-1], str_[-8]

('0', '2', '9', '2')

In [35]:
str_[10] # 없는 인덱싱은 에러가 뜸

IndexError: string index out of range

In [36]:
'''
문자변수[from:stop] : from부터 stop앞까지 추출
문자변수[from:stop:step] : from부터 stop앞까지 step씩 전진하면서 추출
    step 생략시 1
    from 생략시 처음부터
    stop 생략시 끝까지 


'''

'\n문자변수[from:stop]\n\n'

In [41]:
str_[0:5] # 0번째~5번째 앞까지

'01234'

In [47]:
str_[-5:-1] # -5번째부터 -1번째까지

'5678'

In [49]:
str_[-4:] # -4번째부터 끝까지

'6789'

In [50]:
str_[-4:20] #슬라이싱시 인덱스 범위를 벗어나면 끝까지를 의미

'6789'

In [38]:
str_[0:8:2]

'0246'

In [51]:
str_[9:0:-1]

'987654321'

In [65]:
# 첫문자~6번째 인덱스까지 추출
print(str_[0:7])
# 5번째인덱스 부터 끝까지 추출
print(str_[5:]) 
# str_를 거꾸로 추출
print(str_[::-1])
print(str_[-1::-1])

0123456
56789
9876543210
9876543210

## 3.3 논리형(True/False)

In [81]:
a = 5>10
print(a)  # a:매개변수=인자=argument
print(type(a))  # a변수의 타입을 출력
print(isinstance(a, bool))  # isinstance(변수,타입) : 변수가 해당 타입인지 여부
print('a 주소 :', id(a))

False
<class 'bool'>
True
a 주소 : 140720704211184

In [70]:
int(True), int(False)

(1, 0)

In [ ]:
# False로 간주되는 것 : 0, '' (아무것도 없는 빈스트링 ), None, [], (), {}
# False외의 값은 다 True " "

In [79]:
if {}:
    print('True')
else:
    print('False')

False

## 3.4 자료형 확인 및 형변환 함수
- type(변수)
- isinstance(변수, 타입)

- int() : 정수형으로 변환
- float() : 실수형으로 변환
- str() : 문자형으로 변환
- bool() : 논리형으로 변환

In [109]:
int("123"), int(123.9), round(123.9), int(True), int("   10")

(123, 123, 124, 1, 10)

In [108]:
float("123.5"), float(123), float(int(123)), float(True), float("123"), float("   125.0   ")

(123.5, 123.0, 123.0, 1.0, 123.0, 125.0)

In [104]:
# int() 에러나는 것들 
# int("123.5")
# int(" ")
# int('')
# int("1,000")

In [107]:
# float() 에러나는 것들
# float("1,000.0") # 콤마에러
# float("") # 빈스트링
# float("   ")

In [113]:
str(10), str(10.5), str(True), str(1.12e12)
#'' 나 "" 가 있으면 문자

('10', '10.5', 'True', '1120000000000.0')

In [114]:
bool(""), bool(0), bool(0.0), bool([]), bool(()), bool({}), bool(None)

(False, False, False, False, False, False, False)

In [115]:
bool(" ")

True

파이썬 기본 자료형(정리)
1. 숫자 - int, float, complex
2. 문자 - str, 문자슬라싱, raw데이터(정규표현식, 파일경로)
3. 논리 - False로 판별되는 경우

# 4절. 포맷팅
- 포맷팅이란, 출력할 문자, 숫자, 날짜 데이터의 형식을 지정하는 것
- 변수와 텍스트를 결합해서 보기 좋은 형식의 새로운 텍스트를 만들 수 있음

## 4.1 문자열에 출력 형식 지정

In [118]:
name = "홍길동"
age = 30
print(name, '님의 나이는', age, '살 입니다', sep='')

홍길동님의 나이는30살 입니다

In [129]:
print("%s님의 나이는 %3d살 입니다." %(name,age))
# %s : 문자, %d: 정수, %f: 실수
# %3d는 3칸을 차지하겠다는 뜻

print(f"{name}님의 나이는 {age}살 입니다")

print("{}님의 나이는 {:3d}살 입니다." .format(name,age))
# :3d는 3칸

홍길동님의 나이는  30살 입니다.
홍길동님의 나이는 30살 입니다
홍길동님의 나이는  30살 입니다.

## 4.2 format() 문법

In [130]:
"{[인덱스]:[공백대체문자][정렬방식][자릿수][타입]}".format(변수)
# 인덱스 : format함수 안의 매개변수의 순서
# 정렬방식 : <(왼쪽정렬), >(오른쪽정렬), ^(중앙정렬)
# 정수자릿수 : 출력될 자릿수d. 변수 내용보다 작은 자릿수가 지정되면 자릿수 무시
# 실수자릿수 : 출력될 자릿수. 소수점자릿수f
# 문자자릿수 : 전체확보될 자리수[.변수중출력할자릿수]s -> 10.2s = 10자리중 2자리 출력 
# 타입 : d(10진수 정수), b(2진수), x(16진수), f(실수), s(문자)
# 공백대체문자를 쓸 경우 정렬방식을 반드시 기입해야 함
# 00101001

NameError: name '변수' is not defined

In [147]:
name = input('이름은?')
age  = int(input('나이는?'))

print("{}살 {}님 반갑습니다".format(age,name))
print("{1:*^4d}살 {0:_>10}님 반갑습니다".format(name,age))

이름은?지지지
나이는?23
23살 지지지님 반갑습니다
*23*살 _______지지지님 반갑습니다

In [150]:
# 숫자의 경우 : 오른쪽 정렬(기본값)
# 문자의 경우 : 왼쪽정렬(기본값)
# 변수보다 작은 자리수를 지정하면 자릿수가 무시되고 다 출력(정수 자릿수)

i = 12345
s = "Hello"
print("[{0}], [{0:10}], [{0:3}]".format(i))
print("[{0}], [{0:10}], [{0:3}]".format(s))

[12345], [     12345], [12345]
[Hello], [Hello     ], [Hello]

In [168]:
# 문자 : 전체자리수.표현될자리수
# 실수 : 전체자리수.소수점이하 표현될 자리수
f = 2.758
s = "hello"
print("f = [{0:5.2f}]".format(f))
print("s = [{:5.2}]".format(s))
print("\n")
print("f = [{0:$>5.2f}]".format(f))
print("s = [{:_<5.2}]".format(s))

f = [ 2.76]
s = [he   ]


f = [$2.76]
s = [he___]

In [178]:
# + : 부호를 출력
# = : 부호를 맨 앞에 출력

a, b = 123, -123
print("[{:5}], [{:5}]".format(a, b))
print("[{:+5}], [{:+5}]".format(a, b))
print("[{:=+5}], [{:=5}]".format(a, b))

[  123], [ -123]
[ +123], [ -123]
[+ 123], [- 123]

In [181]:
#

f = 2.785
print("[{:+10.2f}]".format(f))

[     +2.79]

In [185]:
sign = '+'
width = 10
precision = 3
print("[{:{sign}{width}.{precision}f}]".format(f, sign=sign, width=width, precision=precision))

[    +2.785]

In [190]:
a = 15
print("10진수 a = [{:5d}]".format(a))
print("16진수 a = [{:5x}]".format(a))
print(" 2진수 a = [{:5b}]".format(a))

10진수 a = [   15]
16진수 a = [    f]
 2진수 a = [ 1111]

## 4.3 날짜출력

In [207]:
import re
from datetime import datetime
now = datetime.now()
now

datetime.datetime(2025, 4, 9, 17, 51, 29, 84993)

In [208]:
print("{}".format(now))
print("{:%Y년%m월%d일 %p %I시 %M분 %S초}".format(now))
print("{:%Y년%m월%d일 %H시 %M분 %S초}".format(now))

2025-04-09 17:51:29.084993
2025년04월09일 PM 05시 51분 29초
2025년04월09일 17시 51분 29초

In [209]:
print(now.strftime("%Y년%m월%d일 %H시 %M분 %S초"))

2025년04월09일 17시 51분 29초

In [24]:
import re
data2 = "abc12@naver.com  /  abc123@0to7.co.kr  /  abc@한국.com"
print(data2)

abc12@naver.com  /  abc123@0to7.co.kr  /  abc@한국.com

In [40]:
email_pattern = r"\w{3,}@[a-zA-Z0-9가-힣]+(\.[a-zA-Z]+){1,2}"
emails = re.findall(email_pattern, data2)
emails

['.com', '.kr', '.com']