In [3]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

<b><font size="5" color="red" >ch05_함수</font></b>
- 사용할 코드를 묶어 놓고 그것에 이름을 붙인 것
- 오버로닝(함수 이름이 같고, 매개변수의 타입이나 갯수로 다른 함수를 허용하는 것) 불가
- 함수 정의

```
def 함수명([매개변수1, 매개변수2, 매개변수n]):
    명령어1
    명령어2
    명령어n
```

# 1절. 함수의 정의 및 사용
## 1.1 함수 정의

In [ ]:
# 함수 정의
def my_message(x, msg):  #msg를 x번 출력하는 함수
    for i in range(x):
        print(msg)

In [ ]:
my_message(5,'w')

In [ ]:
my_msg = my_message
my_msg(5, 'hello')

In [ ]:
type(my_msg), type(my_message)

In [ ]:
print('Hello') # 파이썬 내장함수(import 하지 않고 사용할 수 있는 함수)
print = 5
del print
print('Hello')

In [ ]:
my_message(2,'hello')

In [ ]:
del my_message
# 변수를 삭제해도 함수 사용불가(파이썬 내장함수가 아니라서)

In [4]:
# 함수 정의 : 4월 16일(수)
def my_hello():
    print('Hello, Python')
    print('Hello, World')
def my_hello(cnt):
    for i in range(cnt):
        print('Hello, Python')
        print('Hello, World')

In [5]:
#함수사용 = 함수호출
my_hello(2)

Hello, Python
Hello, World
Hello, Python
Hello, World

In [6]:
__name__

'__main__'

In [11]:
if __name__ == '__main__':
    my_hello(2)

Hello, Python
Hello, World
Hello, Python
Hello, World

In [1]:
import ch05  # ch05 모듈을 Load

In [2]:
ch05.my_hello(2)

Hello, Python
Hello, World
Hello, Python
Hello, World

In [3]:
from ch05 import my_hello  # ch05 모듈 안의 my_hello Load

## 1.2 docstring

In [6]:
def my_function():
    '''
    함수의 첫라인에 독스트링을 포함할 수 있습니다
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(shift+tab으로 독스트링을 볼 수 있음)
    '''
    pass

In [7]:
print(my_function.__doc__)

    함수의 첫라인에 독스트링을 포함할 수 있습니다
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(shift+tab으로 독스트링을 볼 수 있음)

In [13]:
def fibonacci(n):
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print()  # 개행

In [14]:
fibonacci(10)

0 1 1 2 3 5 8

## 1.3 지역변수(local var)와 전역변수(global var)

In [15]:
global_var = 100 # 지역변수
def func1():
    print('함수안 :', global_var)
func1()
print('함수 밖 :', global_var)

함수안 : 100
함수 밖 : 100

In [16]:
def fun2():
    local_var = 200  # 지역변수
    print('함수 안 :', local_var)
func2
print('함수 밖 :', local_var)

NameError: name 'func2' is not defined

In [22]:
g_var = 100 #전역변수
def func3():
    g_var = 200  # 지역변수(변수 선언과 할당)
    print('함수 안(지역변수 g_var) :', g_var)
func3()
print('함수 밖(전역변수 g_var) :', g_var)

함수 안(지역변수 g_var) : 200
함수 밖(전역변수 g_var) : 100

In [23]:
# 렉시컬 특성

g_var = 100 # 전역변수
def func4():
    print('함수 안 g_var :', g_var)
    g_var = 200 # 지역변수
func4()

UnboundLocalError: local variable 'g_var' referenced before assignment

In [27]:
# 렉시컬 특성

g_var = 100 # 전역변수
def func4():
    global g_var  # func4 함수내의 g_var는 전역변수를 쓴다
    print('함수 안 g_var :', g_var)
    g_var = 200 # 전역변수
func4()
print('함수 밖(전역변수 g_var) :', g_var)

함수 안 g_var : 100
함수 밖(전역변수 g_var) : 200

## 1.4 값에 의한 호출
- 함수의 매개변수(인수)로 전달되는 변수가 스칼라 변수(문자, 숫자, 논리형)일 때

In [38]:
foo = 10 # 전역변수
id(foo)

1450698867216

In [40]:
def func1(f): # 매개변수는 지역변수
    print('Before :', f , ' id(f) :', id(f))
    f = f*3
    print('After :', f , ' id(f) :', id(f))
func1(foo)

Before : 10  id(f) : 1450698867216
After : 30  id(f) : 1450698867856

In [46]:
print(foo)

10

## 1.5 참조에 의한 호출
- 함수의 매개변수(인자)로 전달되는 변수가 리스트, 튜플, 셋, 딕셔너리, 객체 일 경우

In [33]:
L = [1, 2, 3]
id(L)

1450824103680

In [42]:
def func2(f):  #매개변수는 지역변수
    print('Before :', f, id(f))
    f.append(4)
    print('After :', f, id(f))
func2(L)

Before : [1, 2, 3, 4] 1450824103680
After : [1, 2, 3, 4, 4] 1450824103680

In [43]:
print('L = ', L, id(L))

L =  [1, 2, 3, 4, 4] 1450824103680

# 2절. 함수의 실행결과를 반환하는 return

In [58]:
def fibonacci_print(n):
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 출력
    ex. n=10 이면 0 1 1 2 3 5 8 을 출력
    '''    
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print()  # 개행
    
def fibonacci_return(n):
    result=[]
    a, b = 0, 1
    while a < n:
        result.append(a)
        a, b = b, a+b
    return result  # 개행
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 리스트로 return
    ex. n=10 이면 [0 1 1 2 3 5 8] 을 return
    '''

In [54]:
x = fibonacci_print(100)
print(x)

0 1 1 2 3 5 8 13 21 34 55 89
None

In [59]:
x = fibonacci_return(100)
print(x)
print(type(x))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
<class 'list'>

## 여러개 값 return

In [60]:
def swap(a,b):
    '매개변수의 순서를 바꿔서 return'
    return b, a

In [70]:
x, y = 5,10
print(f'함수 실행 전 x={x}, y={y}')
x, y = swap(x, y)
print(f'함수 실행 후 x={x}, y={y}')

함수 실행 전 x=5, y=10
함수 실행 후 x=10, y=5

# 3절. 함수의 매개변수 ★
## 3.1 기본값을 갖는 매개변수

In [71]:
def make_url(ip, port=80):  # 순서인수 > 기본값을 갖는 매개변수
    return "http://{}:{}".format(ip, port)

In [74]:
print(make_url('www.naver.com'))
print(make_url('localhost', 8090))
print(make_url(port=8090, ip='localhost'))

http://www.naver.com:80
http://localhost:8090
http://localhost:8090

## 3.2 기본변수를 갖는 매개변수
- 기본변수가 스칼라 변수일 때
- 기본변수가 리스트, 셋, 딕셔너리 등의 객체일 때

In [78]:
i = 5
# 기본값을 갖는 변수가 스칼라 변수일 때
def func2(arg=i):
    print('arg = ', arg)

In [79]:
i = 50
func2(30)

arg =  30

In [1]:
list_ = []
# 기본값을 갖는 변수가 객체(데이터구조)일 때 : arg의 기본값은 함수가 호출되는 시점의 값
def func3(data, L=list_):
    'data를 L에 append'
    L.append(data)
    return L

In [2]:
print(func3(10))

[10]

In [4]:
print(func3(20))

[10, 20]

In [5]:
list_

[10, 20]

In [6]:
def func4(data, L=None):
    if L==None:
        L = []    
    L.append(data)
    return L

In [7]:
print(func4(10))
print(func4(10, list_))

[10]
[10, 20, 10]

## 3.3 튜플 매개변수를 이용한 가변인수 설정

In [ ]:
# 파이썬은 오버로딩(함수의 중복)을 지원하지 않습니다
def add(a, b):
    return a+b
def add(a, b, c):

In [15]:
# *args : 매개변수들을 하나의 튜플 변수 args로 전달받음
def add(*args):
    '전달받은 매개변수들의 합을 return'
#     print('args = ', args)
    result_tot = 0  # 누적변수
    for data in args:
        result_tot += data
    return result_tot

In [19]:
print(add(1))
print(add(1,2))
print(add(1,2,3))
print(add(1,3,5,7))
print(add(1,10,9,8,7))

1
3
6
16
35

In [22]:
subject = ('Python', 'Oracle', 'DL', 'ML')
'/'.join(subject)

'Python/Oracle/DL/ML'

In [23]:
def concat(*subject, sep):
    return sep.join(subject)

In [26]:
concat('Python', 'Oracle', 'DL', 'ML', '/')

TypeError: concat() missing 1 required keyword-only argument: 'sep'

In [27]:
# 해결책 1 : 매개변수 이름을 지정해서 호출
concat('Python', 'Oracle', 'DL', 'ML', sep='/')

'Python/Oracle/DL/ML'

In [30]:
# 해결책 2 : 기본값을 반드시 갖는 키워드인수 사용
def concat(*subject, sep= '/'):
    return sep.join(subject)
concat('Python', 'Oracle', 'DL', 'ML')

'Python/Oracle/DL/ML'

In [33]:
# 해결책 3 : sep을 순서인수로 앞에 선언
def concat(sep , *subject):
    return sep.join(subject)
concat('/', 'Python', 'Oracle', 'DL', 'ML')

'Python/Oracle/DL/ML'

## 3.4 딕셔너리 매개변수
- 여러개의 키워드인수를 딕셔너리 형태로 받아서 가변키워드 인수 처리

In [40]:
def func5(**kwargs):
    print(kwargs)
    print(type(print(kwargs)))
    print('이름 : ', kwargs.get('name', '이병헌'))
    print('나이 : ', kwargs.get('age', 30))
    print('주소 : ', kwargs.get('address', '서울'))

In [41]:
func5(name='홍길동', age = 30, address='신림동')

{'name': '홍길동', 'age': 30, 'address': '신림동'}
{'name': '홍길동', 'age': 30, 'address': '신림동'}
<class 'NoneType'>
이름 :  홍길동
나이 :  30
주소 :  신림동

In [42]:
func5(name='김길동')

{'name': '김길동'}
{'name': '김길동'}
<class 'NoneType'>
이름 :  김길동
나이 :  30
주소 :  서울

## 3.5 함수정의시 매개변수 순서
- 순서인수 > 튜플매개변수 > 키워드순서(매개변수이름 반드시 명시) > 딕셔너리매개변수(**)

In [60]:
def func6(a, b, *c, **d):
    print('순서인수 a :', a)
    print('순서인수 b :', b)
    print('튜플인수 c :', c)
    print('딕셔너리 인수 d :', d)

In [61]:
func6(10, 20, 1, 2, 3, 4, 5, 6, 7, 8, 9, name='홍길동', age = 30, address='신림동')

순서인수 a : 10
순서인수 b : 20
튜플인수 c : (1, 2, 3, 4, 5, 6, 7, 8, 9)
딕셔너리 인수 d : {'name': '홍길동', 'age': 30, 'address': '신림동'}

In [62]:
def func7(a, b, *c, d='기본값', **e):
    print('순서인수 a :', a)
    print('순서인수 b :', b)
    print('튜플인수 c :', c)
    print('키워드인수(기본값을 갖는 인수, 호출시 매개변수명 반드시 명시) d :', d)
    print('딕셔너리 인수 e :', e)

In [65]:
func7(10, 20, 1, 2, 3, d='딴거', fontsize=12, fontfamily='consola')

순서인수 a : 10
순서인수 b : 20
튜플인수 c : (1, 2, 3)
키워드인수(기본값을 갖는 인수, 호출시 매개변수명 반드시 명시) d : 딴거
딕셔너리 인수 e : {'fontsize': 12, 'fontfamily': 'consola'}

## 3.6 인수의 언패킹
### 튜플인수 언패킹
- 튜플 언패킹 : 함수 호출시 매개변수 앞에 * 붙임
- 튜플 패킹 : 함수 정의시 매개변수 앞에 * 붙임

In [74]:
def add(*args):
    tot = 0
    for num in args:
        tot += num
    return tot

In [76]:
add(1,2,3,4)

10

In [77]:
numbers = [1, 2, 3, 4]
add(*numbers)  # 언패킹

10

## 딕셔너리 인수 언패킹
- 딕셔너리 언패킹 : 함수 호출시 매개변수 앞에 ** 붙임
- 딕셔너리 패킹 : 함수 정의시 매개변수 앞에 ** 붙임

In [78]:
def func5(**data):
    print(type(data))
    for key,item in data.items():
        print(f'{key}:{item}')

In [79]:
func5(name='홍길동', age='30', address='신림')

<class 'dict'>
name:홍길동
age:30
address:신림

In [81]:
customInfo = {'name':'홍길동', 'age':30, 'address':'서울시 강남구', 'score':900}
func5(**customInfo)

<class 'dict'>
name:홍길동
age:30
address:서울시 강남구
score:900

# 4절 람다식
- return 한줄짜리 작은 익명함수
## 4.1 람다식 연습

In [82]:
def add(a, b):
    return a+b
add(3, 4)

7

In [85]:
add2 = lambda a,b : a+b
add2(3, 4)

7

In [88]:
type(add), type(add2)

(function, function)

In [89]:
(lambda a, b : a+b)(3,4)

7

In [111]:
# ex1. 매개변수로 들어온 값이 짝수인지 홀수인지 return
# def ex1(num):
# #     if num%2:
# #         result = '홀수'
# #     else:
# #         result = '짝수'

#     return '홀수' if num%2 else "짝수"
ex1 = lambda num : '홀수' if num%2 else '짝수'
ex1(10), ex1(-9)

('짝수', '홀수')

In [115]:
# ex2. 두 매개변수의 차이를 return

ex2 = lambda a, b : a-b if a>b else b-a
ex2(-7,5)

12

In [116]:
# ex2. 두 매개변수의 차이를 return

ex2 = lambda a, b : abs(a-b)
ex2(-7,5)

12

In [97]:
# ex3. 매개변수로 잔액을 받아 양수면 잔액을 return, 음수면 'negative'를 return

ex3 = lambda money : money if money>=0 else 'negative'
ex3(500)

500

In [122]:
# ex4. 정수를 입력받아 점수가 80점 이상은 A팀, 60점 이상은 B팀, 60점 미만은 재시험.
#      그 외는 유효하지 않음

ex4 = lambda score : 'A팀' if 100>= score >= 80 else \
                    'B팀' if 80> score >= 60 else \
                    '재시험' if 60> score >= 0 else \
                    '유효하지 않음'
ex4(120), ex4(90), ex4(70), ex4(50)

('유효하지 않음', 'A팀', 'B팀', '재시험')

In [107]:
# ex5. safe_index를 람다식으로
def safe_index(vector, data):
    if data in vector: # lst안에 data 있는지 여부
        return vector.index(data)
    else:
        return -1
    
safe_index = lambda vector, data : vector.index(data) if data in vector else -1

In [124]:
ex5 = lambda vector, data : vector.index(data) if data in vector else -1
tup = (1, 2, 3)
ex5(tup, 4), ex5(tup, 2)

(-1, 1)

## 4.2 함수의 매개변수에 람다식 이용

### (1) map

In [11]:
def map_template(func, L=[]):
    '''
    L의 모든 요소를 func()함수를 적용시켜 return
    [func(1) for l in L]
    '''
    result = []
    for l in L:
        result.append(func(l))
    return result

#     result = [func(l) for l in L]

In [12]:
# 리스트의 데이터를 가공하는 방법 1.map
list_data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
map_template(lambda x : x*2, list_data)
# def x_2(x):
#     return x*2

# map_template(x_2, list_data)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [9]:
# 리스트 데이터를 가공 방법 2. 리스트 컴프리헨션
[l*2 for l in list_data]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [14]:
# 리스트 데이터를 가공 방법 3. map(): 파이썬 내장함수
map(lambda x : x*2, list_data)

In [15]:
list_data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

result = []
for x in list_data:
    result.append(x * 2)

print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [26]:
'''
예1. prices = [5000, 800, 1000, 6000] 로 출력
'''
prices = ['5,000', '800', '1000', '6,000']
prices = list(map(lambda x: int(x.replace(',', '')), prices))

print(prices)

[5000, 800, 1000, 6000]

In [21]:
def func(x):
    return int(x.replace(',',''))
func("5,000"), func("1800")

(5000, 1800)

In [37]:
'''
예2. member1 = [{'name':'홍길동', 'birth':'2000-01-01'},
                {'name':'신길동', 'birth':'1998-12-31'}] 를
    member2 = [{'name':'홍길동', 'year':2000, 'month':1, 'day':1},
                {'name':'신길동', 'year':1998, 'month':12, 'day':31}] 로 바꿉니다
'''
member1 = [{'name':'홍길동', 'birth':'2000-01-01'},
                {'name':'신길동', 'birth':'1998-12-31'}]

In [34]:
def split_date(date):
    split_data = date.split('-')
#     print(split_data[0], split_data[1], split_data[2])
    return{'year': int(split_data[0]),
          'month': int(split_data[1]),
          'day' : int(split_data[2])
          }

In [35]:
split_date("2000-01-01")

{'year': 2000, 'month': 1, 'day': 1}

In [53]:
def member_func(member): # {'name':'홍길동', 'year':2000, 'month':1, 'day':1}
    "{name':'신길동', 'year':1998, 'month':12, 'day':31} 식으로 return"
    return {
        'name':member.get('name'),
        'year':int(member['birth'].split('-')[0]),
        'month':int(member['birth'].split('-')[1]),
        'day':int(member['birth'].split('-')[2]),
    }
member_func(member1[0])

{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1}

member.get('name') 를 member['name'] 같은 뜻. 그러나 get은 에러가 안뜨지만 후자는 빈 데이터면 에러가 뜸

In [56]:
member2 = list(map(lambda member : {
                        'name':member.get('name'),
                            'year':int(member['birth'].split('-')[0]),
                            'month':int(member['birth'].split('-')[1]),
                            'day':int(member['birth'].split('-')[2]),
                        } ,
         member1
        )
    )
member2

[{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1},
 {'name': '신길동', 'year': 1998, 'month': 12, 'day': 31}]

In [ ]:
'예3. member2를 member1로 바꿉니다'

In [70]:
# {'year': 2000, 'month': 1, 'day': 1} => "2000-01-01"를 return하는 함수
def join_date(data):
    # print([data.get('year'), data.get('month'), data.get('day')])
    year = str(data.get('year'))
    month = data.get('month')
    if month < 10:
        month = '0'+str(month)
    else:
        month = str(month)
    day = data.get('day')
    if day < 10:
        day = '0'+str(day)
    else:
        day = str(day)
    return '-'.join([year, month, day])

In [73]:
# {'year':2000, 'month':1, 'day':1} => "2000-01-01" 를 return 하는 함수
def join_date(data):
    print("{}-{:02}-{:02}".format(data.get('year'), 
                                  data.get('month'), 
                                  data.get('day')))

In [ ]:
def join_date(data):
    print("{year}-{month:02}-{day:02}".format(
                                    year = data.get('year'), 
                                  month = data.get('month'), 
                                  day = data.get('day')))

In [75]:
def join_date(data):
    return "{year}-{month:02}-{day:02}".format(**data)

In [74]:
join_date({'year':2000, 'month':1, 'day':1})

2000-01-01

In [72]:
member2 = [{'name':'홍길동', 'year':2000, 'month':1, 'day':1},
                {'name':'신길동', 'year':1998, 'month':12, 'day':31}]

member1 = list(map(
              lambda member: {
                  'name':member['name'],
                  'birth' : f"{member['year']}-{member['month']:02d}-{member['day']:02d}"
               
              }, member2
              ))

member1

[{'name': '홍길동', 'birth': '2000-01-01'},
 {'name': '신길동', 'birth': '1998-12-31'}]

In [76]:
# {'name':'홍길동', 'year':2000, 'month':1, 'day':1}(member2)를
# {'name':'홍길동', 'birth':'2000-01-01'} 으로 가공
list(map(lambda member : {
            'name' : member.get('name'),
            'birth' : "{year}-{month:02}-{day:02}".format(**member)
            },
        member2
    ))

[{'name': '홍길동', 'birth': '2000-01-01'},
 {'name': '신길동', 'birth': '1998-12-31'}]

### (2) filter
- map 처리 : [1, 2, 3, 4, 5] => [2, 4, 6, 8, 10] (벡터의 모든 데이터를 가공)
- filter : [1,2,3,4,5] => [2,4] (원하는 정보 추출)
* cf. 리스트 컴프리헨션

In [79]:
def filter_template(func, L=[]):
    result = []
    for l in L:
        if func(l):
            result.append(l)
    return result

In [77]:
def evenChk(value):
    return value%2==0
evenChk(10), evenChk(7)

(True, False)

In [80]:
list_data = [1, 2, 3, 4, 5]
filter_template(lambda value : value%2==0 , list_data)

[2, 4]

In [81]:
list(filter(lambda value : value%2==0 , list_data))

[2, 4]

In [83]:
[data for data in list_data if data%2==0]

[2, 4]

### (3) sort

In [87]:
p = [9, 2, 7]
p.sort(reverse=True)
p

[9, 7, 2]

In [92]:
# 무조건 0번째 item 기준으로 정렬
pairs = [(2, 'two'), (1, 'one'), (4, 'four'), (3, 'three')]
pairs.sort()
pairs

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]

In [93]:
# 1번째 item 기준으로 정렬(abc순)
pairs.sort(key=lambda pair : pair[1])
pairs

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

In [95]:
# 무조건 0번 item 기준으로 정렬
number2d = [[9, 9, 9 ,9, 9, 9],
           [1, 100],
           [10, 1]]
number2d.sort()
number2d

[[1, 100], [9, 9, 9, 9, 9, 9], [10, 1]]

In [98]:
# 합이 큰 순으로 정렬
number2d.sort(key= lambda item : sum(item))

In [102]:
(lambda item : sum(item))([1, 2, 3])

6

In [103]:
# 합이 큰 순으로 정렬
number2d.sort(key= lambda item : sum(item))
number2d

[[10, 1], [9, 9, 9, 9, 9, 9], [1, 100]]

In [3]:
students = [
    {'name':'홍길동', 'score':90},
    {'name':'김길동', 'score':50},
    {'name':'윤길동', 'score':99},
    {'score':100}
]

In [8]:
# 이름순으로 정렬(ㄱㄴㄷ순)
students.sort(key = lambda item : item.get('name', '힣'))
students

[{'name': '김길동', 'score': 50},
 {'name': '윤길동', 'score': 99},
 {'name': '홍길동', 'score': 90},
 {'score': 100}]

In [11]:
# 점수순으로 정렬(내림차순정렬 : reverse=True)
students.sort(key = lambda item : item.get('score', 0), reverse = True)
students

[{'score': 100},
 {'name': '윤길동', 'score': 99},
 {'name': '홍길동', 'score': 90},
 {'name': '김길동', 'score': 50}]

In [13]:
#책 제목순 정렬(ㄱㄴㄷ순), 저자순 정렬(ㄱㄴㄷ순), 가격순 정렬
books =[
    {'no':1, 'title': '강남 아파트 인사이트', 'writer': '오스틀', 'price':'25,200'},
    {'no':2, 'title': '단 한 번의 삶', 'writer': '김영하', 'price':'18,100'},
    {'no':3, 'title': '흔한남매 19', 'writer': '백난도', 'price':'14220'},
    {'no':4, 'title': '가격이 잘못', 'writer': '홍길동', 'price':'-'},
    {'no':5, 'title': '가격이 숫자', 'writer': '신길동', 'price':900},
    {'no':6, 'title': '가격이 없음', 'writer': '김길동'},
]

In [14]:
books.sort(key = lambda book : book.get('title'))
books

[{'no': 5, 'title': '가격이 숫자', 'writer': '신길동', 'price': 900},
 {'no': 6, 'title': '가격이 없음', 'writer': '김길동'},
 {'no': 4, 'title': '가격이 잘못', 'writer': '홍길동', 'price': '-'},
 {'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스틀', 'price': '25,200'},
 {'no': 2, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '18,100'},
 {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14,220'}]

In [18]:
books.sort(key = lambda book : book.get('price', 0))
books

TypeError: '<' not supported between instances of 'str' and 'int'

In [42]:
# '14,000' -> 14000 / 800 -> 800 / '-' => 0
def parse_int(price):
#     print(type(price))
    if isinstance(price, str) and price.replace(',','').isdigit():
        return int(price.replace(',',''))
    elif isinstance(price, int):
        return price
    else :
        return 0

In [43]:
parse_int(8000), parse_int("8000"), parse_int("8,000"), parse_int('-')

(8000, 8000, 8000, 0)

In [54]:
# {'no':6, 'title': '가격이 없음', 'writer': '김길동'} => 0 return
# {'no':3, 'title': '흔한남매 19', 'writer': '백난도', 'price':'14220'} => 14220
# {'no':5, 'title': '가격이 숫자', 'writer': '신길동', 'price':900} => 900
def parse_int(book):
    if isinstance(book.get('price'), str) and \
    book.get('price').replace(',','').isdigit():
        return int(book.get('price').replace(',','') )
    elif isinstance(book.get('price'), int):
        return book.get('price')
    else:
        return 0

parse_int(books[0]), parse_int(books[4]), parse_int(books[3]), parse_int(books[2]), parse_int(books[5])

(0, 25200, 900, 14220, 0)

In [55]:
copy_books =[
    {'no':1, 'title': '강남 아파트 인사이트', 'writer': '오스틀', 'price':'25,200'},
    {'no':2, 'title': '단 한 번의 삶', 'writer': '김영하', 'price':'18,100'},
    {'no':3, 'title': '흔한남매 19', 'writer': '백난도', 'price':'14220'},
    {'no':4, 'title': '가격이 잘못', 'writer': '홍길동', 'price':'-'},
    {'no':5, 'title': '가격이 숫자', 'writer': '신길동', 'price':900},
    {'no':6, 'title': '가격이 없음', 'writer': '김길동'},
]
copy_books = books.copy()

In [57]:
copy_books.sort(key = lambda book : 
                int(book.get('price').replace(',','')) \
                    if isinstance(book.get('price'), str) and \
                        book.get('price').replace(',','').isdigit() else \
                book.get('price') if isinstance(book.get('price'), int) else \
                0               
               )

In [67]:
# 람다식 테스트 확인
(lambda book : 
                int(book.get('price').replace(',','')) \
                    if isinstance(book.get('price'), str) and \
                        book.get('price').replace(',','').isdigit() else \
                book.get('price') if isinstance(book.get('price'), int) else \
                0 )(books[0])

0

In [58]:
copy_books

[{'no': 6, 'title': '가격이 없음', 'writer': '김길동'},
 {'no': 4, 'title': '가격이 잘못', 'writer': '홍길동', 'price': '-'},
 {'no': 5, 'title': '가격이 숫자', 'writer': '신길동', 'price': 900},
 {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14,220'},
 {'no': 2, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '18,100'},
 {'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스틀', 'price': '25,200'}]

## 4.3 return문에 람다식 이용

In [80]:
# 함수를 return
def make_box(shape):  # shape : [L]=>Len 가 L인 list를 생성하는 함수 return
                    #           [r,c] => r행 c열인 2차원 list를 생성하는 함수 return
                    #           [d,r,c] => d면 r행 c열 3차원 list를 생성하는 함수 return
    def box(init_value):
        if len(shape)==1:
            return [init_value]*shape[0]
        elif len(shape)==2:
            return [ [init_value]*shape[1] ] * shape[0]
    return box

In [84]:
def make_box(shape):
    if len(shape)==1:
        return lambda init_value : [init_value]*shape[0]
    elif len(shape)==2:
        return lambda init_value : [ [init_value]*shape[0] ] * shape[0]

In [85]:
line_func = make_box([2,3])
line_func(3)

[[3, 3], [3, 3]]

In [86]:
line_func1 = make_box([10])
line_func1(3)

[3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

# 5절. 파이썬 내장함수
- import 하지 않고 바로 사용 가능한 함수
- 키워드처럼 간주되므로, 식별자(변수명, 함수명, 클래스명)

In [88]:
round(3.5)

4

In [89]:
import numpy as np # numpy 모듈을 np라는 이름으로 Load

# 6절. 연습문제

## 실습형

In [4]:
# 실습형1. 최대값 최소값을 리턴
def get_max_min(data_list):
    return max(data_list), min(data_list)

get_max_min = lambda data_list : (max(data_list), min(data_list))
get_max_min([1,2,3,4,5,6,])

(6, 1)

In [34]:
# 2. 체중과 키를 이용해 비만도를 나타내는 지수로 아래의 수식
def getBMI(kg, m):
    bmi = kg/(m**2)
    if bmi<18.5:
        result='마른체형'
    elif 18.5<=bmi<25:
        result='표준'
    elif 25<=bmi<30:
        result='비만'
    elif bmi>=30:
        result='고도비만'
        
    return result

In [36]:
getBMI(170,65)

'마른체형'

In [17]:
# 3. 직각삼각형의 밑변과 높이를 입력받은 후 삼각형의 면적과 둘레를 계산하는 함수를 작성하세요
# 면적 = 밑변*높이 / 둘레 = 밑변 + 높이 + math.sqrt(밑변**2+높이**2)
import math
def get_triangle(width, height):
    area = width*height
    circum = width + height + math.sqrt(width**2 + height**2)
    return(area, circum)

In [20]:
get_triangle(3,4)

(12, 12.0)

In [29]:
# 4. 함수의 인자로 시작과 끝 숫자가 주어질 때 시작부터 끝까지의 모든 정수값의 합을 리턴하는 함수를 작성하세요(시작값과 끝값 포함).

def mysum(fRom, end):
    if fRom>end:
        return sum(range(end, fRom+1))
    else:
        return sum(range(fRom, end + 1))

In [31]:
mysum(5,1)

15

In [49]:
# 5. 함수의인자로 문자열을 포함하는 리스트가 입력될 때 각 문자열의 첫 세글자로만 구성된 리스트를 리턴하는 함수와 람다식을 작성하세요
# 예를 들어 함수의 입력으로 [‘Seoul’, ‘Daegu’, ‘Kwangju’, ‘Jeju’]가 입력될 때 함수의 리턴값은 [‘Seo’, ‘Dae’, ‘Kwa’,’Jej’]

local = ['Seoul', 'Daegu', 'Kwangju', 'Jeju']

def get_abbrs(lst):
    return [a[:3] for a in local]
print(get_abbrs([local]))
print((lambda lst : [a[:3] for a in lst])(local))

['Seo', 'Dae', 'Kwa', 'Jej']
['Seo', 'Dae', 'Kwa', 'Jej']

In [32]:
# 6. 다음 코드를 람다 함수 형태로 수정할 때 알맞은 코드를 작성하시오.
def f(x,y):
    return x ** y

In [2]:
f = lambda x,y : x**y
f(3,5)

243

In [37]:
# 7. ex = [1,2,3,4,5]를 [1,4,9,16,25]의 결과를 얻을 수 있도록 람다함수와 map()함수를 사용하여 구현과 리스트 컴프리헨션으로 구현하시오
ex = [1,2,3,4,5]
result_map = list(map(lambda x: x**2, ex))
print(result_map)

[1, 4, 9, 16, 25]

In [4]:
# 8.다음코드를 각각 실행하면 서로 다른 결과가 나온다. 이런 결과가 나오는 이유를 서술하시오
# A : *을 이용해 언패킹 했기 때문이다
a=[1,2,3]
print(*a)
print(a)

1 2 3
[1, 2, 3]

In [6]:
# 9.

date_info = {'year':2024, 'month':9, 'day':6}
result = '{year}-{month}-{day}'.format(**date_info)
result

'2024-9-6'

In [50]:
# 10. n개의 벡터(리스트나 튜플, 셋등)의 크기들이 같은지 여부를 reutrn하는
#     vector_size_check(*vector _var) 를 한 줄의 코드(리스트 컴프리헨션 이용)로 작성하시오.

def vector_size(*vector_var):
    result = []
    for vector in vector_var:
        result.append(len(vector))
    return result

def vector_size(*vector_var):
    return [len(vector) for vector in vector_var]

vector_size([10, 20], (100, 200), {'name':'홍', 'age':20}, {1, 2})

[2, 2, 2, 2]

In [ ]:
# 11.

In [11]:
# 서술형 1. 두번째[1] 알파벳을 기준으로 정렬
pairs = [(1, 'd'), (2, 'c'), (3, 'b'), (4, 'a')]
pairs.sort(key=lambda pair : pair[1])
pairs

[(4, 'a'), (3, 'b'), (2, 'c'), (1, 'd')]

In [33]:
# 서술형 2. global a를 해줘야 전역변수 사용가능 



a= 10
def sub() :
    global a
    a += 1
    print(a, end='')
    
def func():
    for i in range(2):
        a=5
        a += 1
        print(a,end='')
        sub()
        
a += 1
func()

612613

In [28]:
# 서술형 3.

var = 100
def func(var):
    var = 200
func(var)
print(var)

100

In [30]:
# 서술형 4.

def my_func(func, *args):
    return func(*args)
import numpy as np
my_func(np.add,2,3)

5

In [31]:
# 서술형 5.

def my_func(func, *args):
    return func(*args)
my_func(lambda a,b : a**b, 3, 2)

9

In [ ]:
# 서술형 6.

In [ ]:
# 서술형 7.

In [ ]:
# 서술형 8.